.navbar {
  font-weight: 100%;
  height: var(--navbar-heigth);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}
.linkList {
  display: flex;
  margin-left: auto;
}

.mainLink {
  margin-right: 15px;
}
